<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{username}}!</h2>
  </div>
</div>

<div>
  <a class="btn btn-secondary" href="/post">+ New Post</a>
</div>


<script src="./js/profile.js"></script>
